.container {
    background-color: #FAFAFA;
    // position: relative;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     background-image: linear-gradient(to top, $color-gradient-1, $color-gradient-2);
    //     width: 40%;
    //     left: -15.5rem;
    //     top: 0;
    //     height: 70rem;
    //     border-radius: 0% 0% 42.5% 56%;
    //     z-index: -1;
    // }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     background-color: #F9F4FA;
    //     width: 32.5%;
    //     right: -10%;
    //     bottom: 0;
    //     height: 83%;
    //     border-radius: 48% 40% 0% 0%;
    //     z-index: -1;
    // }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin: auto;


    &__phone {
        background-color: $color-secondary-white;
        width: 24.6rem;
        height: 50.5rem;
        box-shadow: 0px 0px 10px 0px rgba(238, 237, 240, 1);
        margin: 14.8rem 0 0 36.3rem;
        border-radius: 2.7rem;
        position: relative;
        z-index: -2;

        &::before {
            content: "";
            position: absolute;
            height: 96%;
            width: 93%;
            top: 1rem;
            left: .83rem;
            border-radius: 2rem;
            background-color: $color-secondary-grey;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            height: 6%;
            width: 50%;
            top: 0;
            left: 6rem;
            border-radius: 1.3rem;
            background-color: $color-secondary-white;
            z-index: 1;
        }

        .app-header {
            position: relative;
            width: 92%;
            left: .9rem;
            top: 1.1rem;
            height: 65px;
            background-image: linear-gradient(to right, $color-gradient-2, $color-gradient-1);
            border-radius: 2rem 2rem .5rem .5rem;
        }
    }
}